@model IEnumerable<ANTS.Models.User>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "AdminAction";
}

<link href="~/Content/Admin/header.css" rel="stylesheet" />



<h2>Admin Actions</h2>

<div class="header-container">
    <form action="/Admin/AdminAction" method="post" class="search-box">
        <input class="form-control" type="text" name="searchtext" value="" placeholder="Search Users via Name" />
        <input class="form-control btn btn-primary" type="submit" name="submitButton" value="Search" />
    </form>
</div>
<table class="table table-striped">
    <tr>
        <th>
            User ID
        </th>
        <th>
            Name
        </th>
        <th>
            Status
        </th>
        <th>Change Status</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.userid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                <form action="/Admin/AdminAction" method="post">
                    <div class="form-inline">
                        <div class="form-group">
                            @if (item.status == "Valid")
                            {

                                <select name="status" class="form-control">
                                    <option selected value="Valid">Valid</option>
                                    <option value="Invalid">Invalid</option>
                                    <option value="Banned">Banned</option>
                                </select>
                            }
                            else if (item.status == "Invalid")
                            {
                                <select name="status" class="form-control">
                                    <option value="Valid">Valid</option>
                                    <option selected value="Invalid">Invalid</option>
                                    <option value="Banned">Banned</option>
                                </select>
                            }
                            else if (item.status == "Banned")
                            {
                                <select name="status" class="form-control">
                                    <option value="Valid">Valid</option>
                                    <option value="Invalid">Invalid</option>
                                    <option selected value="Banned">Banned</option>
                                </select>
                            }
                            <div class="form-group">
                                <input type="hidden" name="id" value="@item.userid" />
                                <input type="submit" name="submitButton" value="GO" class="btn btn-success" />
                            </div>
                        </div>
                    </div>
                </form>
            </td>
        </tr>
    }

</table>
