
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>

Total Income = @ViewBag.totalIncome
<br />
<br />
Last 30 Days Income = @ViewBag.last30DaysIncome
<br />
<br />
This months Income = @ViewBag.monthlyIncome