@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<a href="/Admin/Dashboard" class="btn btn-block btn-primary">Income Dashboard</a>
<a href="/Admin/ViewUsers" class="btn btn-block btn-primary">View Users</a>
<a href="/Admin/CreateManager" class="btn btn-block btn-primary">Create Manager</a>
<a href="/Admin/ViewNotices" class="btn btn-block btn-primary">View Notices</a>
<a href="/Admin/CreateNotice" class="btn btn-block btn-primary">Create Notice</a>
<a href="/Admin/ViewComplains" class="btn btn-block btn-primary">View Complains</a>
<a href="/Admin/ViewVouchers" class="btn btn-block btn-primary">View Vouchers</a>
<a href="/Admin/CreateVouchers" class="btn btn-block btn-primary">Create Vouchers</a>
<a href="/Admin/AdminAction" class="btn btn-block btn-primary">Take Action on Users</a>
<a href="/Admin/ViewAuditLogs" class="btn btn-block btn-primary">View Audit Logs</a>
