
@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    
}

<body>



    <main id="main">

        <!-- ======= Breadcrumbs ======= -->
        <section id="breadcrumbs" class="breadcrumbs">
            <div class="container">

                <div class="d-flex justify-content-between align-items-center">
                    <h2>About</h2>
                    <ol>
                        <li><a href="/Home/Index">Home</a></li>
                        <li><a href="/Home/About">About</li>
                    </ol>
                </div>

            </div>
        </section><!-- End Breadcrumbs -->
        <!-- ======= About Us Section ======= -->
        <section id="about-us" class="about-us">
            <div class="container">

                <div class="row no-gutters">
                    <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start" data-aos="fade-right"></div>
                    <div class="col-xl-7 ps-0 ps-lg-5 pe-lg-1 d-flex align-items-stretch">
                        <div class="content d-flex flex-column justify-content-center">
                            <h3 data-aos="fade-up">ANTS TOURISM</h3>
                            <p data-aos="fade-up">
                                ANTS tourism is a web application for tourists. It will help the tourist to get services according to their preferences.
                                There will be four types of users- admin, manager, service provider and customer.
                                Admin will overlook all the activities of other three users and will be able to customize the web settings.
                                Manager will take care of regular activities of managing bills, service providers, verifying products and services etc.
                                Service provider will show their travel packages according to age, place, preferences etc or
                                they can post to sell travelling products. Customer will be able to take those services after logging in
                                website otherwise they will just be able to see the packages for sell.
                                Customer will be able to review and can show their package preferences.
                            </p>
                            <!-- End .content-->
                        </div>
                    </div>

                </div>
        </section><!-- End About Us Section -->
        <!-- ======= Our Team Section ======= -->
        <section id="team" class="team section-bg">
            <div class="container">

                <div class="section-title" data-aos="fade-up">
                    <h2>Our <strong>Team</strong></h2>
                    <p>We have a great team. Coders who worked in those sections</p>
                </div>

                <div class="row">

                    <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                        <div class="member" data-aos="fade-up">
                            <div class="member-img">
                                <img src="~/Content/assets/img/team/team-1.jpg" class="img-fluid" alt="">

                            </div>
                            <div class="member-info">
                                <h4>ASEF HOSSAIN KHAN</h4>
                                <span>ADMIN</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                        <div class="member" data-aos="fade-up" data-aos-delay="100">
                            <div class="member-img">
                                <img src="~/Content/assets/img/team/team-2.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="member-info">
                                <h4>Nushrat Jahan</h4>
                                <span>CUSTOMER</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                        <div class="member" data-aos="fade-up" data-aos-delay="200">
                            <div class="member-img">
                                <img src="~/Content/assets/img/team/team-3.jpg" class="img-fluid" alt="">

                            </div>
				<div class="member-info">
                                <h4>S.R.M. BAHAUDDIN SHISHIR</h4>
                                <span>SELLER</span>
                            </div>
                            
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                        <div class="member" data-aos="fade-up" data-aos-delay="300">
                            <div class="member-img">
                                <img src="~/Content/assets/img/team/team-4.jpg" class="img-fluid" alt="">

                            </div>
                            <div class="member-info">
                                <h4>TWHIDUZZAMAN SHAWON</h4>
                                <span>MANAGER</span>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- End Our Team Section -->


    </main><!-- End #main -->
    <!-- ======= Footer ======= -->
    <footer id="footer">

        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h3>ANTS TOURISM</h3>
                        <p>
                            A108 Adam Street <br>
                            New York, NY 535022<br>
                            United States <br><br>
                            <strong>Phone:</strong> +1 5589 55488 55<br>
                            <strong>Email:</strong> info@example.com<br>
                        </p>
                    </div>

                    <div class="col-lg-2 col-md-6 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="/Home/Index">Home</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="/Home/About">About us</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="/Home/Contact">Contact</a></li>
                        </ul>
                    </div>


                    <div class="col-lg-4 col-md-6 footer-newsletter">
                        <h4>Join us</h4>
                        <p>Have a best experince of tourism</p>
                        <form action="" method="post">
                            <input type="email" name="email"><input type="submit" value="Subscribe">
                        </form>
                    </div>

                </div>
            </div>
        </div>



    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="~/Content/assets/vendor/aos/aos.js"></script>
    <script src="~/Content/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/Content/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/Content/assets/vendor/php-email-form/validate.js"></script>
    <script src="~/Content/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/Content/assets/vendor/waypoints/noframework.waypoints.js"></script>

    <!-- Template Main JS File -->
    <script src="~/Content/assets/js/main.js"></script>

</body>
